.blogs {
  width: 100%;
  margin-top: 50px;
}

.blogs-p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  /* margin-top: 3rem; */
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  margin-top: 30px;
}

.blog-item {
  flex: 1 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0.2ms;
}

.blog-image:hover {
  transform: scale(1.1);
}

.blog-info {
  text-align: center;
  margin-top: 10px;
}

.blog-name {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.blog-description {
  margin-top: 0.5rem;
  color: white;
  overflow-wrap: break-word;
  font-size: 17px;
}
