.contact-container {
  width: 100%;
  margin-top: 120px;
}

.contact-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-message {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 20px;
  margin-top: 50px;
}

.hold-contact {
  display: flex;
  gap: 40px;
}

.name label {
  color: white;
  margin-right: 20px;
}

.name-text {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.name-text::placeholder {
  font-weight: 600;
}

.text-area {
  resize: none;
  height: 150px;
  width: 250px;
  outline: none;
  margin-top: 20px;
  padding: 5px;
}

.text-area::placeholder {
  font-weight: 600;
}

.btn-submit {
  margin-top: 30px;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  /* color:white */
}
