.nav {
  width: 100%;
  height: 2cm;
  border-bottom: 1px solid white;
  /* position: fixed; */
  /* top:-10px; */
}

.nav-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.site-logo {
  width: 30%;
}
.logo-container {
  position: relative;
  width: 60px;
  height: 70px;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  cursor: pointer;
  width: 60px;
  height: 70px;
  border-radius: 30px;
}

.nav-links {
  width: 60%;
  display: flex;
  flex-direction: row;
  /* margin-left:auto;
    margin-right:auto; */
  justify-content: flex-end;
  padding: 10px;
  gap: 30px;
}

.home-p {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.about {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.service {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.contact {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.home > .home-p:hover {
  color: beige;
}

.home > .about:hover {
  color: beige;
}
.home > .service:hover {
  color: beige;
}
.home > .contact:hover {
  color: beige;
}

.menu-div {
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: none;
}

.aside {
  display: none;
}

@media screen and (max-width: 568px) {
  .nav-links {
    display: none;
  }

  .menu-div {
    display: block;
    margin-left: 200px;
  }

  .aside {
    width: 100%;
    min-height: 50vh;
    position: fixed;
    left: 0;
    top: 0;
    background: url("../../../Images/texture5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: top 0.5s ease-in-out;
    z-index: 999;
    display: block;
    border-bottom: 1px solid white;
  }

  .aside.active {
    top: 0;
  }

  .close-btn {
    position: fixed;
    float: right;
  }

  .close {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
  }

  .aside-links a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .aside-links a:hover {
    color: beige;
  }
}
