.nav {
  width: 100%;
  height: 2cm;
  border-bottom: 1px solid white;
}

.nav-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.site-logo {
  width: 30%;
}

.logo {
  cursor: pointer;
  width: 60px;
  height: 70px;
  border-radius: 30px;
}

.nav-links {
  width: 60%;
  display: flex;
  flex-direction: row;
  /* margin-left:auto;
    margin-right:auto; */
  justify-content: flex-end;
  padding: 10px;
  gap: 30px;
}

.home-p {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.about {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.service {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.contact {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

.home > .home-p:hover {
  color: beige;
}

.home > .about:hover {
  color: beige;
}
.home > .service:hover {
  color: beige;
}
.home > .contact:hover {
  color: beige;
}
