.footer {
  width: 100%;
  margin-top: 120px;
  background-color: #2b2b2b;
  min-height: 120px;
}

.footer-container {
  width: 90%;
  display: flex;
  /* margin-top:50px; */
  /* background-color:red; */
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
  justify-content: space-around;
}

.footer-details {
  width: 30%;
  margin-top: 20px;
}

.footer-name {
  color: white;
  font-weight: 600;
}

.footer-email {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
}

.linked {
  margin-left: 20px;
  color: white;
}

.footer-icons {
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.footer-logo-img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.footer-design {
  margin-top: 10px;
}

.crafted {
  color: white;
  font-size: 14px;
}

.designer {
  color: white;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 568px) {
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
