.footer{
    width:100%;
    margin-top:120px;
    background-color:#2b2b2b;
    min-height:120px;
    
}

.footer-container{
    width:90%;
    display:flex;
    /* margin-top:50px; */
    /* background-color:red; */
    margin-left:auto;
    margin-bottom:50px;
    margin-right:auto;
}

.footer-details{
    width:30%;
    margin-top:20px;
}

.footer-name{
    color:white;
    font-weight:600;
}

.footer-email{
    color:white;
    margin-top:10px;
    font-size:14px;
}

.linked{
    margin-left:20px;
    color:white;
}

.footer-icons{
    font-size:20px;
    cursor:pointer;
    margin-top: 20px;
}